main {
    position: relative;
    top: 65px;
    width: 80%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hamburger-container {
    align-self: flex-start;
    visibility: hidden;
}
.hamburger-container img {
    width: 35px;
}
h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 59px;
    text-align: center;
    
}
#h1-container {
    width: 100%;
    border-bottom: 3px solid rgba(170, 206, 155, 1);
}
.app-description-title {
    width: 100%;
    text-align: center;
}
.first-section-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items:  center;
    
}
.clock-image-container img{
    width: 250px;
}
.funtionalities-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 80%; 
}
.funtionalities-list {
    display: flex;
    flex-direction: column;
}

.funtionalities-list p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    width: 200px;
    margin: 20px auto;
    border: 1px solid rgba(55, 56, 103, 1);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(55, 56, 103, 1);
}
.funtionalities-list img {
    margin: 0 5px;
}
.pros-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}
.pros-container-description {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    max-width: 380px;
}
.pros-container-description div {
    font-weight: 400;
    line-height: 20px;
    font-size: 15px;
    text-align: justify;
    color: rgba(149, 136, 136, 1);
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}
 .form-container {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    row-gap: 25px;*/
}  
.form-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;
}
.form-input-container input {
    width: 95%;
    height: 30px;
    border: 2px solid rgba(55, 56, 103, 1);
    border-radius: 4px;
}
.form-checkbox-container {
    display: flex;
    font-weight: 500;
}
.form-checkbox-container ul {
    align-self: flex-end;
}
.form-container-textarea {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.form-container-textarea label {
    font-weight: 500;
    color: rgba(55, 56, 103, 1);
}
.form-container-textarea textarea {
    height: 70px;
    border: 2px solid rgba(149, 136, 136, 0.5);
    border-radius: 4px;
    color: rgba(149, 136, 136, 0.5);
}
.form-buttons-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.form-buttons-container input {
    width: 100px;
    height: 35px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
}
.history-flex-container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.history-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
}
 .history-container img {
    width: 95%;
    border-radius: 10px;
    border: 1px solid rgba(55, 56, 103, 0.5)
} 

.history-container p {
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    color: rgba(149, 136, 136, 1);
}
.list-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 80%; 
    margin-top: 25px;
}
/* .list-container p {
    color: rgb(0, 0, 0);
    font-weight: 500;
    line-height: 35px;
    font-size: 20px;
} */
.list-container ol {
    font-size: 15px;
    line-height: normal;
    list-style: upper;
    color: rgba(149, 136, 136, 1);
}